body{
    margin: 0;
    padding: 0
    background-repeat: repeat;
    background-position: fixed;
    width: 100%;
}

.container{
    width: 100%;
    max-width: 960px;
    padding: 10px;
    margin:15px;
}

/*****************************
        COMMUN
*****************************/

.ls-header, .ls-footer {
    background-image: url('images/symphony.png');
}


/*****************************
  Header
  ***************************/
  
.ls-header{
    color: purple;
}

.ls-header p {
    display: inline-block;
    vertical-align: middle;
    
}

.entete {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    margin-left: 20%;
}    
/*****************************
       MAIN
  ***************************/    

main {
    background-image: url('images/concrete_seamless.png');
    background-repeat: repeat;
    background-position: fixed;
    width: 100%;
    
}

section {
    width: 30%;
    display: inline-block;
    vertical-align: top;
    padding: 10px;
}


/*****************************
       FOOTER
  ***************************/ 

iframe {
    width: 50%;
    display: inline-block;
    vertical-align: middle;
}

footer .contact {
    margin-left: 30px;
    display: inline-block;
    vertical-align: middle;
}





